<div class="overlay"></div>

{{> sashes }}
{{> notifications }}

<div class="icon pull-left">
    {{#if author.profileimageurlhttps}}
        <img src="{{ author.profileimageurlhttps }}" width="40" height="40" />
    {{else}}
        <img src="/-assets/images/avatars/default.png" width="40" height="40" />
    {{/if}}
</div>
<p class="username username-item pull-left">
    <a href="#user/{{ author.pid }}">
        {{ author.pid }}
    </a>
</p>


{{#is media 'video'}}
    <p class="item-text pull-left">
        {{#ifYoutube link }}
            <a class="fancybox fancybox.iframe" href="{{ getYoutubeUrl link }}">
                <i class="icon-play-circle"></i>
                {{ text }}
            </a>
        {{else}}
            <a class="fancybox fancybox.iframe" href="{{ link }}">
                <i class="icon-play-circle"></i>
                {{ text }}
            </a>
        {{/ifYoutube}}
    </p>
{{else}}
    {{#is media 'audio'}}
        <p class="item-text pull-left">
            {{#ifSpotify link }}
                <a class="audio" href="{{ getSpotifyUrl link }}">
                    <i class="icon-play-circle"></i>
                    {{ text }}
                </a>
            {{else}}
                <a class="audio" href="{{ link }}">
                    <i class="icon-play-circle"></i>
                    {{ text }}
                </a>
            {{/ifSpotify}}
        </p>
    {{else}}
        <p class="item-text pull-left">
            <a class="fancybox fancybox.iframe" href="{{ link }}">
                <i class="icon-external-link"></i>
                {{ text }}
            </a>
        </p>
    {{/is}}
{{/is}}


{{> duration }}


{{#if via}}
    <p class="via pull-left">
        <a href="#user/{{ via.pid }}">
            copied by {{ via.name }}
        </a>
    </p>
{{/if}}


<p class="time pull-left">
    <a class="fancybox fancybox.iframe" href="{{ link }}">
        {{#ifHasEvent event}}
            <i class="icon-calendar"></i> <span class="event">event:</span>
            <span class="timestamp">{{ fromNow event }}</span>
        {{else}}
            <i class="icon-time"></i> <span class="added">added:</span>
            <span class="timestamp">{{ fromNow ts }}</span>
        {{/ifHasEvent}}
        <a class="item-url" href="{{ urlItem id }}">link</span>
    </a>
</p>


{{#is session user }}
    {{#is status 'p' }}
        <a class="button button-promote">
            <i class="icon-ok"></i>
        </a>
    {{else}}
        <a class="button button-demote">
            <i class="icon-remove"></i>
        </a>
    {{/is}}
{{else}}
    <a class="button button-promote">
        <i class="icon-ok"></i>
    </a>
{{/is}}