<div class="overlay"></div>

{{> sashes }}

{{> notifications }}

{{> icon }}

{{> username }}

{{> title }}

{{> duration }}

{{> via }}

<p class="time pull-left">
    <a class="fancybox fancybox.iframe" href="{{ link }}">
        {{#ifHasEvent event}}
            <i class="icon-calendar"></i> <span class="event">event:</span>
            <span class="timestamp">{{ fromNow event }}</span>
        {{else}}
            <i class="icon-time"></i> <span class="added">added:</span>
            <span class="timestamp">{{ fromNow ts }}</span>
        {{/ifHasEvent}}
        <a class="item-url" href="{{ urlItem id }}">link</span>
    </a>
</p>


{{#is session user }}
    {{#is status 'p' }}
        <a class="button button-promote">
            <i class="icon-ok"></i>
        </a>
    {{else}}
        <a class="button button-demote">
            <i class="icon-remove"></i>
        </a>
    {{/is}}
{{else}}
    <a class="button button-promote">
        <i class="icon-ok"></i>
    </a>
{{/is}}