<form class="form item-add-form">
    <ul class="field item-add-media">
        {{#is media 'video'}}
        <li class="item-add-media-type item-add-media-type-is-selected item-add-media-type-watch" data-type="video">
        {{else}}
        <li class="item-add-media-type item-add-media-type-watch" data-type="video">
        {{/is}}
            <p class="sash video">
                <i class="icon-facetime-video"></i>
            </p>
            Watch
        </li>

        {{#is media 'audio'}}
        <li class="item-add-media-type item-add-media-type-is-selected item-add-media-type-listen" data-type="audio">
        {{else}}
        <li class="item-add-media-type item-add-media-type-listen" data-type="audio">
        {{/is}}
            <p class="sash audio">
                <i class="icon-headphones"></i>
            </p>
            Listen
        </li>

        {{#is media 'event'}}
        <li class="item-add-media-type item-add-media-type-is-selected item-add-media-type-do" data-type="event">
        {{else}}
        <li class="item-add-media-type item-add-media-type-do" data-type="event">
        {{/is}}
            <p class="sash event">
                <i class="icon-calendar"></i>
            </p>
            Do
        </li>

        {{#is media 'text'}}
        <li class="item-add-media-type item-add-media-type-is-selected item-add-media-type-read" data-type="text">
        {{else}}
        <li class="item-add-media-type item-add-media-type-read" data-type="text">
        {{/is}}
            <p class="sash text">
                <i class="icon-file-alt"></i>
            </p>
            Read
        </li>
    </ul>

    <div class="field item-add-title">
        <input type="text" name="text" placeholder="Title" value="{{ text }}">
    </div>


    <div class="field item-add-image">
        <div class="item-add-image-placeholder">
            <img class="item-add-loading" src="/-assets/images/loading-image.gif" height="16" width="16" />
            <ul class="item-add-image-list">
                <li class="item-add-image-list-empty">No images</li>
                <li class="item-add-image-list-item item-add-image-best item-add-image-list-current"></li>
            </ul>

            <ul class="item-add-image-controls">
                <li class="item-add-image-controls-next">
                    <i class="icon-circle-arrow-right"></i>
                </li>
                <li class="item-add-image-controls-prev">
                    <i class="icon-circle-arrow-left"></i>
                </li>
            </ul>

            {{#if duration}}
                <ul class="item-add-duration duration pull-left">
                    {{#if duration.days}}
                    <li class="days">{{ duration.days }}d</li>
                    {{/if}}

                    {{#and duration.days duration.hours }}
                    <li class="durationcolon">:</li>
                    {{/and}}

                    {{#if duration.hours }}
                    <li class="hours">{{ duration.hours }}h</li>
                    {{/if}}

                    {{#and duration.hours duration.minutes }}
                    <li class="durationcolon">:</li>
                    {{/and}}

                    {{#if duration.minutes }}
                    <li class="minutes">{{ duration.minutes }}m</li>
                    {{/if}}

                    {{#and duration.minutes duration.seconds }}
                    <li class="durationcolon">:</li>
                    {{/and}}

                    {{#if duration.seconds }}
                    <li class="seconds">{{ duration.seconds }}s</li>
                    {{/if}}
                </ul>
            {{/if}}
        </div>
    </div>

    <div class="field item-add-has-event">
        <label for="has-event">
            Add event or schedule date:
            <input type="checkbox" name="has-event" id="has-event">
        </label>
    </div>

    <div class="field item-add-event">
        <label for="event">Event Date</label>
        <input type="date" placeholder="YYYY-MM-DD" min="1900-00-00" name="event" value="{{ event }}">
    </div>

    <div class="actions">
        <input type="hidden" name="duration" value="{{ duration.original }}">
        <input type="hidden" name="media" value="{{ media }}">
        <input type="hidden" name="image" value="{{ image }}">

        <input type="submit" value="Add" class="item-add-btn-add">
        <input type="submit" value="Cancel" class="item-add-btn-cancel">
    </div>
</form>