{{> notifications }}

<div class="icon icon-profile pull-left">
    {{#if profileimageurl }}
        <img src="{{ profileimageurl }}" width="40" height="40" />
    {{else}}
        <img src="/-assets/images/avatars/default.png" width="40" height="40" />
    {{/if}}
</div>

<p class="username username-profile pull-left">
    <a href="#user/{{ pid }}">
        {{ pid }}
    </a>
</p>

{{#if bio}}
<p class="bio pull-left">
    {{#if name }}
        <span class="name">{{ name }}</span>:
    {{/if}}

    {{ bio }}
</p>
{{/if}}

<ul class="statistics pull-left">
    <li class="followings">
        <a href="#followings/{{ pid }}">{{ followingcount }} following</a>
    </li>
    <li class='followers'>
        <a href="#followers/{{ pid }}">{{ followercount }} followers</a>
    </li>
</ul>

<a class="button button-follow">
    <i class="icon-plus"></i>
</a>