<ul class="timeline-nav pull-left">
    {{#is view 'timeline'}}
    <li class="timeline first active">
    {{else}}
    <li class="timeline first">
    {{/is}}
        <a href="#timeline">Timeline</a>
    </li>

    {{#is view 'followings'}}
    <li class="followings active">
    {{else}}
    <li class="followings">
    {{/is}}
        <a href="#followings">Following</a>
    </li>

    {{#is view 'followers'}}
    <li class="followers last active">
    {{else}}
    <li class="followers last">
    {{/is}}
        <a href="#followers">Followers</a>
    </li>
</ul>


<form class="form">
    <select class="pull-left type" name="t">
        {{#is view 'timeline'}}
            <option value="v" selected="selected">Watch</option>
        {{else}}
            {{#is type 'v'}}
                <option value="v" selected="selected">Watch</option>
            {{else}}
                <option value="v">Watch</option>
            {{/is}}
        {{/is}}

        {{#is type 'a'}}
            <option value="a" selected="selected">Listen</option>
        {{else}}
            <option value="a">Listen</option>
        {{/is}}

        {{#is type 'e'}}
            <option value="e" selected="selected">Do</option>
        {{else}}
            <option value="e">Do</option>
        {{/is}}


        {{#is view 'followings'}}
            <option value="p" selected="selected">People</option>
        {{else}}
            {{#is view 'followers'}}
                <option value="p" selected="selected">People</option>
            {{else}}
                {{#is type 'p'}}
                    <option value="p" selected="selected">People</option>
                {{else}}
                    <option value="p">People</option>
                {{/is}}
            {{/is}}
        {{/is}}
    </select>

    <input class="pull-left search" name="s" type="search" placeholder="{{ placeholder }}" value="{{ search }}" required="required">
</form>

{{#is view 'timeline'}}
<a class="now pull-right">
    now <i class="icon-now icon-repeat"></i>
</a>
{{/is}}

{{#is view 'search'}}
<a class="back pull-right" href="#timeline">
    back <i class="icon-back icon-arrow-left"></i>
</a>
{{/is}}